// 字体
@use "font.scss";

// 控制滚动条
@use "/assets/scss/scrollbar.scss";


// 自定义 Markdown 渲染主题
// @import 'vditor-preview.scss';

// @include scrollbar.scrollbar_hover;

@include scrollbar.scrollbar;
@include scrollbar.scrollbar_hover;

$theme-light-primary: #21467a;
$theme-light-secondary: #1e477a;
$theme-light-accent: #547690;
$theme-light-error: #c71f2d;
$theme-light-warning: #d45814;
$theme-light-info: #607d8b;
$theme-light-success: #4caf50;
$theme-light-background: #edf1f2;
$theme-light-title: #1f1f1f;
$theme-light-content: #2f2f2f;
$theme-light-text-secondary: #807e7e;
$theme-light-background-gery: #c7c7c7;
