$theme-light-primary: #079992;
$theme-light-secondary: #4a69bd;
$theme-light-accent: #0a3d62;
$theme-light-error: #b71540;
$theme-light-warning: #f6b93b;
$theme-light-info: #6a89cc;
$theme-light-success: #78e08f;
$theme-light-background: #dfe4ea;
$theme-light-title: #222831;
$theme-light-content: #393e46;
$theme-light-text-secondary: #807e7e;
$theme-light-background-gery: #c7c7c7;
