// https://github.com/googlefonts/Pacifico
// https://fonts.google.com/specimen/Pacifico?query=Pacifico#glyphs
@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico-Regular.ttf");
}

// 得意黑
// https://github.com/atelier-anchor/smiley-sans
@font-face {
  font-family: "SmileySans";
  src: url("/fonts/SmileySans-Oblique.otf.woff2");
}

// MiSans
// https://hyperos.mi.com/font/zh/download/
@font-face {
  font-family: "MiSans-Regular";
  src: url('/fonts/MiSans-Regular.woff2');
}

// 临海隶书
// https://mp.weixin.qq.com/s/-FX7v7-TkPAY0JQzKCVWyA
@font-face {
  font-family: "临海隶书";
  src: url("/fonts/临海隶书.ttf");
}
