// https://github.com/googlefonts/Pacifico
// https://fonts.google.com/specimen/Pacifico?query=Pacifico#glyphs
@font-face {
  font-family: "Pacifico";
  src: url("~/assets/fonts/Pacifico-Regular.ttf");
}

// 得意黑
// https://github.com/atelier-anchor/smiley-sans
@font-face {
  font-family: "SmileySans";
  src: url("~/assets/fonts/SmileySans-Oblique.otf.woff2");
}

// MiSans
// https://hyperos.mi.com/font/zh/download/
@font-face {
  font-family: "MiSans-Regular";
  src: url('~/assets/fonts/MiSans-Regular.woff2');
}
