@mixin scrollbar {
  :deep(::-webkit-scrollbar-thumb:hover) {
    background: rgb(0, 143, 130);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  :deep(::-webkit-scrollbar) {
    /*滚动条整体样式*/
    width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }

  :deep(::-webkit-scrollbar-thumb) {
    /*滚动条里面小方块*/
    border-radius: 5px;

    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(172, 189, 187, 0.9);
  }
  :deep(::-webkit-scrollbar-track) {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
  }
}

@mixin scrollbar_hover {
  // background-color: red;
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track:轨道 */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    // background: red;
    // background: white;
    box-shadow: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #d3d2d6;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
}
